<!DOCTYPE html>
<html lang="en" ng-app="timeline">
<head>
  <meta charset="UTF-8">
  <title>NYTimeMachine</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="container" id="top">
    <form name="reviewForm" ng-controller="TimelineController as timeline" ng-submit="reviewForm,$valid && timeline.submit()" novalidate>
      <h2 class="row text-center">How many headlines did</h2> 
      <input name="headline" type="text" ng-model="timeline.headline" placeholder="headline" title="Headline" class="form-control row" required /> 
      <h3 class="row text-center">make between</h3>
      <div class="form-group">
	<div class="row">
	  <div class="col-md-5 col-xs-4"></div>
          <div class="col-md-2 col-xs-4">
            <input name="startyear" type="number" ng-model="timeline.startYear" placeholder="1851" title="Start Year" required class="form-control" input-year /> 
          </div>
	  <div class="col-md-5 col-xs-4"></div>
	  </div>
	<div class="row">
	  <div class="col-md-5 col-xs-4"></div>
          <div class="col-md-2 col-xs-4">
	    <p class="text-center"><b>and</b></p>
          </div> 
	  <div class="col-md-5 col-xs-4"></div>
	</div>
	<div class="row">
	  <div class="col-md-5 col-xs-4"></div>
          <div class="col-md-2 col-xs-4">
            <input name="endyear" type="number" ng-model="timeline.endYear" placeholder="2016" title="End Year" required class="form-control" input-year />
          </div>
	  <div class="col-md-5 col-xs-4"></div>
	</div>
      </div>
      <div class="form-group row">
	<div class="col-md-5 col-xs-4"></div>
	<div class="col-md-2 col-xs-4">
          <p class="text-center">Form is valid: {{reviewForm.$valid}}</p>
	</div>
	<div class="col-md-5 col-xs-4"></div>
      </div>
      <div class="form-group row">
	<div class="col-md-5 col-xs-4"></div>
	<div class="col-md-2 col-xs-4">
          <input type="submit" value="Find Out!" class="form-control" />
	</div>
	<div class="col-md-5 col-xs-4"></div>
      </div>
    </form>
    <br>

    {{timeline.hits}}
    {{timeline.results}}
 
    <br>
  </div>

  <footer>
    <p style="text-align: center;"><a href="#top">Top</a></p>
    <p style="text-align: center;">Copyright © 2016 NYTimeMachine</p>
  </footer>

  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>