.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

@font-face{
  font-family: englishtowne;
  src: url('ENGLISHT.TTF');
}

.form-control {
	font-size: 24px;
	height: 70px;
	width: 100%;
}